

.register {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
  }
  
  .hero-left {
    padding: 20px;
  }
  
  .hero-head {
    background: linear-gradient(to right, #16D1EA, #AE61EA);
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .hero-head h1 {
    margin: 0;
  }
  
  .hero-input {
    margin-bottom: 15px;
  }
  
  .mailbox input {
    width: 98%;
    padding: 10px;
    margin: 5px 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
  }
  
  .signin {
    background: linear-gradient(to right, #16D1EA, #AE61EA);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
 
  .signin:last-child {
    margin-right: 0;
  }
  
 
  .signin:hover {
    opacity: 0.8;
  }
  .btn2{
    display: flex;
    justify-content: space-between;
  }
  