/* .userdatadiv{
    display: flex;
    gap: 40px;
}

.singleuser{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
    padding: 20px;
    margin: 20px;
    width: 480px;
   
   background-color: gray;
    
}
.singlehead{
    font-size: 50px;
    font-weight: 40px;
    letter-spacing: 0.1;
}
.btn{
    width: 120px;
    font-size: 30px;
}
.large{
    display: none;
} */
.userdatadiv {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
  }
  
  .singleuser {
   
    padding: 20px;
    border-radius: 10px;
  }
  
  .singlehead {
    background: linear-gradient(to right, #16D1EA, #AE61EA);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .singleuser h2 {
    background-color: #333; /* Grey background for user details */
    margin: 10px 0;
  }
  