

  .showdata{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: black;
    height: 100%;
    margin: 40px;
    padding: 40px;
  }
  .showdata-upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
   
  }
  .showdata-head{
  
    text-align: center;
   
  }
  .showdata-head1{
    font-size: 42px;
    background: linear-gradient(to right,#16D1EA,#AE61EA );
    -webkit-background-clip: text;
    color: transparent;
    
  }

  .showdata-data{
    display: flex;
   
    
    margin-left: auto;
    

  }
 .showdiv-lower{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
  }
 

  /* .setlimit{
   
  } */
  .select{
    border-radius: 5px;
    background-color: #777;
    border: none;
    /* color: white; */
  }
  .select::placeholder{
    color: black;
  }
  .linkto{
    cursor: pointer;
  }
 

  .signoff{
    display: flex;
   
  
    height: 36px;

    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: linear-gradient(to right,#16D1EA,#AE61EA);
    color: var(--Primary-On-Primary, #FFF);
    text-align: center;
    /* font-family: Montserrat; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
   
    letter-spacing: 0.1px;
    border: none;
    border-radius: 5px;
  }
  .textcolor{
    color: #777;
    margin-right: 8px;
    background-color: black;
  }
  .btn1{
    border: none;
  
    
  }

  table {
    margin: 10px;
    padding: 10px;
   
    border-collapse: collapse;
    
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    color: white;
 
  }
  
  th {
    background-color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #555; 
    
  }
  
  tr:nth-child(odd) {
    background-color: #777;
   
  }
  
  .linkto {
    cursor: pointer;
  }
  
  .linkto:hover {
    color: black;
  }
  .serch-btn{
    background-color: #777;
    color: black;
    border: none;
  }
  .formss{
    padding: 2px;
  }
  .marginsss{
    margin-left: 40px;
  }
  .srchit{
    display: flex;
    gap: 80px;
   
  }
  