.userdatadiv{
    display: flex;
    gap: 40px;
}

.singleuser{
    display: flex;
    flex-direction: column;
    gap: 30px;
   /* margin: auto; */
    padding: 20px;
    margin: 20px;
    width: 480px;
   /* align-items: center; */
   background-color: gray;
    
}
.singlehead{
    font-size: 50px;
    font-weight: 40px;
    letter-spacing: 0.1;
}
.btn{
    width: 120px;
    font-size: 30px;
}
.large{
    display: none;
}