
.userdatadiv {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
  }
  
  .singleuser {
   
    padding: 20px;
    border-radius: 10px;
  }
  
  .singlehead {
    background: linear-gradient(to right, #16D1EA, #AE61EA);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .singleuser h2 {
    background-color: #333;
    margin: 10px 0;
  }
  